body {
    background-color: #fff;
    color: #000;
}

.thumb {
    background-color: #fff;
}

#tree {
    background: none;
    background-color: #fff;
    color: #000;
    backdrop-filter: none;
}

.tree_item {
    color: #000;
}

#bottom_deco {
    background: none;
    background-color: #fff;
    color: #000;
    backdrop-filter: none;
}

#back_btn {
    filter: invert(0);
}

#back_btn_mini {
    color: #000;
}

.page_btn {
    color: #000;
}

#current_p {
    background-color: #aaa;
}

.vid_icon {
    color: #fff;
}

.btn {
    color: #000;
}

#page_next,
#page_prev {
    color: #333;
}

#play-pause {
    color: #000;
    border: #00000033 0.1rem solid;
}

.dir_item .dir_cnt {
    position: relative;
    display: inline-block;
    /* background-color: #222; */
    color: #111;
    border-radius: 0.5rem;
    border: solid 0.1rem #00000055;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0;
    bottom: 0.6rem;
    width: auto;
    height: 1.5rem;
    line-height: 1.5rem;
    white-space: nowrap;
}

#cover {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: #ffffff00;
}

.loader {
    position: fixed;
    border: 3px solid #333;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    left: calc(50% - 23px);
    top: 50%;
}

#filter_input {
    position: fixed;
    left: 0rem;
    bottom: 7rem;
    background-color: #fff;
    height: 3rem;
    width: 19.2rem;
    border-radius: 0;
}

#filter_input input {
    float: left;
    font-size: 1.5rem;
    background: none;
    border: none;
    border-bottom: 0.1rem solid #000;
    color: #000;
    height: 2rem;
    width: 14rem;
    margin-top: 0.35rem;
    margin-left: 0.3rem;
}