<!DOCTYPE html style="width: 100%;height: 100%;">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/{{misc['base']}}/static/style.css" type="text/css">
    {% if not misc['dark'] %}
    <link rel="stylesheet" href="/{{misc['base']}}/static/light.css" type="text/css">
    {% endif %}
    <link rel="icon" type="image/x-icon" href="/{{misc['base']}}/static/icon32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body style="width: 100%;height: 100%;">
    {% if misc['img'] %}
    <div id="imgv">
        {% if misc['og'] %}
        <img id="imgd" src="/{{misc['base']}}/file/{{misc['current']}}" />
        {% else %}
        <img id="imgd" src="/{{misc['base']}}/thumb/{{misc['current']}}?size=2000" />
        {% endif %}
    </div>
    {% else %}
    <div id="video-container">
        <video id="video" loop autoplay>
            <source src="/{{misc['base']}}/file/{{misc['current']}}">
        </video>
    </div>
    {% endif %}
    <div id="ui_touchable">
        <div id="s_og" onclick="scale_to_og()"></div>
        <a href="/{{misc['base']}}/tree/{{misc['parent']}}" id="back_btn_q"></a>
        <div id="ui_toggle_btn" onclick="toggle_ui()"></div>
        {% if misc['img'] %}
        <div id="scale_toggle" onclick="toggle_scale()"></div>
        {% else %}
        <div id="scale_toggle" onclick="toggle_ui()"></div>
        {% endif %}
        <div id="refresh" onclick="refresh()"></div>
        <a id="next" href="/{{misc['base']}}/view/{{misc['next']}}"></a>
        <a id="prev" href="/{{misc['base']}}/view/{{misc['prev']}}"></a>
    </div>
    <div id="ui">
        <div id="tree">
            <div style="width: auto;max-width: 100%;"  class="tree_item">{{misc['name']}}</div>
        </div>
        <a href="/{{misc['base']}}/tree/{{misc['parent']}}" id="back_btn" style="background-image: url(/{{misc['base']}}/static/back.png);" onclick="show_cover()"></a>
        {% if not misc['img'] %}
        <div id="video-controls">
            <button type="button" id="play-pause">| |</button>
            <input type="range" id="seek-bar" step="0.25" value="0">
            <div id="ctime">0:00/0:00</div>
        </div>
        {% endif %}
        <div id="bottom_deco" onclick="toggle_ui()"></div>
        <div id="buttons">
            <div class="btn" onclick="toggle_dark()">◒</div>
            {% if misc['img'] %}
            <div class="btn" onclick="toggle_resample()">{% if misc['og'] %} OG {% else %} 2000 {% endif %}</div>
            {% endif %}
            <div class="btn" onclick="document.getElementById('del_confirm').style.display = 'block'"><svg
                    xmlns="http://www.w3.org/2000/svg" style="margin-top:1rem;" width="1rem" height="1rem"
                    viewBox="0 0 24 24">
                    
                    <path {% if misc['dark'] %}fill="#fff"{% else %}fill="#000"{% endif %}
                        d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                </svg></div>
            <div class="btn" id="star_btn" onclick="toggle_star()">?</div>
        </div>
    </div>
    <div id="del_confirm">
        <div onclick="delete_f()" style="color: #992222;">✓</div>
        <div onclick="document.getElementById('del_confirm').style.display = 'none'" style="color: #eee;">☓</div>
    </div>
    <div id="cover">
        <div class="loader"></div>
    </div>
    <script>
        var og = {{ misc["og"]}}
        {% if misc['star'] %}
        var star = 1;
        document.getElementById("star_btn").innerText = "★";
        {% else %}
        var star = 0;
        document.getElementById("star_btn").innerText = "☆"
        {% endif %}
        {% if misc['dark'] %}
        var dark = 1;
        {% else %}
        var dark = 0;
        {% endif %}
        {% if misc['img'] %}
        var scale_type=1;
        {% if "scale_type_overwrite" in misc %}
        var scale_type_overwrite = {{ misc['scale_type_overwrite']}};
        {% else %}
        var scale_type_overwrite = -1;
        {% endif %}
        console.log("sto", scale_type_overwrite)
        var img = document.getElementById("imgd");

        if (scale_type_overwrite >= 0) {
            scale_type = scale_type_overwrite;
        }

        function to_center() {
            var img = document.getElementById("imgd");
            if (!img.complete) {
                return
            }
            const imgv = document.getElementById("imgv");
            imgv.scrollTo({
                top: imgv.scrollHeight / 2 - window.outerHeight / 2,
                left: imgv.scrollWidth / 2 - window.outerWidth / 2,
                behavior: "instant"
            })
            console.log("to top:" + imgv.scrollHeight / 2 + " left:" + imgv.scrollWidth / 2)
        }
        function init_scale() {
            ori = imgd.height / imgd.width > window.outerHeight / window.outerWidth;
            if (scale_type == 1) {
                if (ori) {
                    img.style.width = "auto";
                    img.style.height = "100%";
                    if (ori) img.style.margin = "auto";
                    else img.style.margin = "0";
                }
                else {
                    scale_type = 1;
                    img.style.width = "100%";
                    img.style.height = "auto";
                    if (ori) img.style.margin = "0";
                    else img.style.margin = "auto";
                }
            }
            else
            {
                if (ori) {
                    img.style.width = "100%";
                    img.style.height = "auto";
                    if (ori) img.style.margin = "0";
                    else img.style.margin = "auto";
                }
                else {
                    img.style.width = "auto";
                    img.style.height = "100%";
                    if (ori) img.style.margin = "auto";
                    else img.style.margin = "0";
                }
            }

        }
        if (img.complete) {
            init_scale()
            to_center()
        }
        else {
            img.addEventListener('load', () => {
                init_scale()
                to_center()
            })
        }

        function toggle_scale() {
            ori = imgd.height / imgd.width > window.outerHeight / window.outerWidth;
            scale_type = 1 - scale_type;
            init_scale()
            to_center();
            fetch("/{{misc['base']}}/set_param/{{misc['parent']}}&fit=" + scale_type, { method: 'GET' });
        }
        function scale_to_og() {
            img.style.width = "fit-content";
            img.style.height = "fit-content";
            img.style.margin = "0";
            to_center()
        }

        var div1 = document.getElementById("scale_toggle")
        var div2 = document.getElementById("next")
        var div3 = document.getElementById("prev")
        var div4 = document.getElementById("ui_toggle_btn")
        var div5 = document.getElementById("s_og")
        var div6 = document.getElementById("back_btn_q")
        var div7 = document.getElementById("refresh")
        const array = [div1, div2, div3, div4, div5, div6, div7]
        array.forEach((div) => {
            div.addEventListener('touchstart', (event) => {
                event.stopPropagation();
            });
            div.addEventListener('touchmove', (event) => {
                event.stopPropagation();
                div.style.pointerEvents = 'none';
            });
            div.addEventListener('touchend', () => {
                div.style.pointerEvents = 'auto';
            });

            const target = document.querySelector('#imgv');
            // listen on the whole document; you could restrict this to an element though
            div.addEventListener('wheel', function (event) {
                target.scrollTop += event.deltaY;
            });
        });
        {% else %}
        // Video
        var video = document.getElementById("video");

        // Buttons
        var playButton = document.getElementById("play-pause");

        // Sliders
        var seekBar = document.getElementById("seek-bar");
        var ctime = document.getElementById("ctime");

        var seek_bar_hold = false;

        playButton.addEventListener("click", function () {
            if (video.paused == true) {
                // Play the video
                video.play();

                // Update the button text to 'Pause'
                playButton.innerHTML = "| |";
            } else {
                // Pause the video
                video.pause();

                // Update the button text to 'Play'
                playButton.innerHTML = '<span style="font-size: 2rem;">▸</span>';
            }
        });
        // Event listener for the seek bar
        seekBar.addEventListener("change", function () {
            // Calculate the new time

            var time = video.duration * (seekBar.value / 100);

            // Update the video time
            video.currentTime = time;
        });
        // Update the seek bar as the video plays
        video.addEventListener("timeupdate", function () {
            // Calculate the slider value
            if (video.paused) return;
            if (seek_bar_hold) return;
            var value = (100 / video.duration) * video.currentTime;

            // Update the slider value
            seekBar.value = value;
            currentTime = video.duration - video.currentTime;
            // hours = Math.floor(currentTime / 3600);
            c_minutes = Math.floor(video.currentTime / 60);
            c_seconds = Math.floor(video.currentTime % 60);
            t_minutes = Math.floor(video.duration / 60);
            t_seconds = Math.floor(video.duration % 60);


            formattedTime = `${c_minutes.toString()}:${c_seconds.toString().padStart(2, '0')}/${t_minutes.toString()}:${t_seconds.toString().padStart(2, '0')}`;
            ctime.innerText = formattedTime;
        });
        // Pause the video when the slider handle is being dragged
        seekBar.addEventListener("touchstart", function () {
            // video.pause();
            seek_bar_hold = true;
            // console.log("touch start")
        }, false);

        seekBar.addEventListener("mousedown", function () {
            // video.pause();
            seek_bar_hold = true;
        });

        // Play the video when the slider handle is dropped
        seekBar.addEventListener("mouseup", function () {
            var time = video.duration * (seekBar.value / 100);
            video.currentTime = time;
            seek_bar_hold = false;
        });

        seekBar.addEventListener("touchend", function () {
            var time = video.duration * (seekBar.value / 100);
            video.currentTime = time;
            seek_bar_hold = false;
            // console.log("touch end")
        });

        function to_center() { };
        {% endif %}
        function toggle_dark() {
            show_cover()
            dark = 1 - dark;
            fetch("/{{misc['base']}}/set_param/{{misc['current']}}?dark=" + dark, { method: 'GET' }).then(
                () => {
                    location.reload()
                }
            )
        }
        function toggle_resample() {
            show_cover()
            og = 1 - og;
            fetch("/{{misc['base']}}/set_param/{{misc['current']}}?og=" + og, { method: 'GET' }).then(
                () => {
                    location.reload()
                }
            )
        }
        const ui = document.getElementById("ui")
        const ui_touchable = document.getElementById("ui_touchable")
        var ui_on = false;

        var timeout;
        var full_btn = window.parent.document.getElementById('fulls');
        full_btn.style.display = "none";
        function hide_ui() {
            clearTimeout(timeout)
            ui_on = false
            ui.style.display = "none"
            full_btn.style.display = "none"
            ui_touchable.style.opacity = 0
        }
        function show_ui() {
            clearTimeout(timeout)
            ui_on = true
            ui.style.display = "block"
            full_btn.style.display = "block"
            ui_touchable.style.opacity = 1
            // timeout = setTimeout(hide_ui,5000)
        }
        function toggle_ui() {
            if (ui_on) {
                hide_ui()
            }
            else {
                show_ui()
            }
        }
        function refresh() {
            document.body.style.filter = "invert(1)"
            setTimeout(function () {
                document.body.style.filter = "invert(0)"
            }, 300)
        }
        {% if not misc['img'] %}
        show_ui()
        timeout = setTimeout(hide_ui,6000);
        document.body.addEventListener("mousedown", function () {
            clearTimeout(timeout);
        });
        document.body.addEventListener("touchstart", function () {
            clearTimeout(timeout);
        });
        {% else %}
        window.onresize = function(){ setTimeout(window_resize,100) };
        {% endif %}
        function delete_f() {
            show_cover()
            fetch("/{{misc['base']}}/delete/{{misc['current']}}", { method: 'GET' }).then(
                () => {
                    location.replace("/{{misc['base']}}/tree/{{misc['parent']}}");
                }
            )
        }
        function show_cover() {
            document.getElementById('cover').style.display = "block"
        }

        function window_resize()
        {
            init_scale();
            to_center();
        }

        function toggle_star()
        {
            star = 1- star;
            fetch("/{{misc['base']}}/set_param/{{misc['current']}}?star=" + star, { method: 'GET' }).then(
                () => {
                    if(star){
                        document.getElementById("star_btn").innerText = "★";
                    }
                    else{
                        document.getElementById("star_btn").innerText = "☆";
                    }
                }
            )
        }
    </script>
</body>


</html>